.post-actions-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.post-action-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 12px;
}

.post-action-bs-heart-icon,
.post-action-fc-like-icon {
  font-size: 24px;
}

.post-action-comment-icon,
.post-action-share-icon {
  font-size: 24px;
  margin-right: 12px;
}
